hha-mvp/packages/workflows/flow_esign_reminder.json
{
  "name": "E-Signature Reminder Flow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "daily-cron",
      "name": "Daily at 9am",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Runs daily at 9:00 AM"
    },
    {
      "parameters": {
        "url": "={{ $env.NEXT_PUBLIC_BASE_URL || 'http://localhost:3000' }}/api/admissions/pending-reminders",
        "authentication": "none",
        "options": {}
      },
      "id": "fetch-pending",
      "name": "Fetch Pending Admissions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "notes": "Gets admissions with status='pending_signature' older than 48h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-items",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "loop-item",
              "name": "admission",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "loop-admissions",
      "name": "Loop Admissions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "host": "={{ $env.MAILPIT_HOST || 'localhost' }}",
        "port": "={{ $env.MAILPIT_PORT || 1025 }}",
        "fromEmail": "noreply@hha.local",
        "toEmail": "={{ $json.patientEmail || 'patient@example.com' }}",
        "subject": "Reminder: Please Sign Your Admission Packet",
        "text": "={{ `Dear ${$json.patientName || 'Patient'},\n\nThis is a reminder that your admission packet is waiting for your signature.\n\nPlease sign here: ${$json.signatureLink || 'https://hha.local/sign'}\n\nThank you!` }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 300],
      "notes": "Sends reminder via Mailpit (dev) or SMTP (prod)"
    }
  ],
  "connections": {
    "Daily at 9am": {
      "main": [
        [
          {
            "node": "Fetch Pending Admissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Admissions": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Loop Admissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Admissions": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "esign",
      "name": "esign"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

